<%- model_class = BankTransfer -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Account Transfers" %></h1>
</div>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Src account</th>
      <th>Target account</th>
      <th>Tran date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Src user</th>
      <th>Target user</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_transfers.each do |bank_transfer| %>
      <tr>
        <td><%= Account.find(bank_transfer.src_account_id).name %></td>
        <td><%= Account.find(bank_transfer.target_account_id).name %></td>
        <td><%= bank_transfer.tran_date %></td>
        <td><%= bank_transfer.amount %></td>
        <td><%= bank_transfer.description %></td>
        <td><%= User.find(bank_transfer.src_user_id).name%></td>
        <td><%= User.find(bank_transfer.target_user_id).name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),  bank_transfer , :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),  edit_bank_transfer_path(bank_transfer) , :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bank_transfer,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")), new_category_path, :class => 'btn btn-primary' %>
