<h1>Listing bank_transfers</h1>

<table>
  <thead>
    <tr>
      <th>Src account</th>
      <th>Target account</th>
      <th>Tran date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Src user</th>
      <th>Target user</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_transfers.each do |bank_transfer| %>
      <tr>
        <td><%= bank_transfer.src_account_id %></td>
        <td><%= bank_transfer.target_account_id %></td>
        <td><%= bank_transfer.tran_date %></td>
        <td><%= bank_transfer.amount %></td>
        <td><%= bank_transfer.description %></td>
        <td><%= bank_transfer.src_user_id %></td>
        <td><%= bank_transfer.target_user_id %></td>
        <td><%= link_to 'Show', bank_transfer %></td>
        <td><%= link_to 'Edit', edit_bank_transfer_path(bank_transfer) %></td>
        <td><%= link_to 'Destroy', bank_transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank transfer', new_bank_transfer_path %>
