<%= form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => @transaction.user_id %> 
    <%# f.collection_select(:user_id, User.all, :id, :name,:include_blank => 'Please Select a user') %>
 <!-- </div>-->
   <div class="control-group">
    <%= f.label :tran_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :tran_date %>
    </div>
   </div>
   <div class="control-group">
    <%= f.label :trantype_id, :class => 'control-label' %>
    <div class="controls">
    <%= f.collection_select(:trantype_id, Trantype.user_trantypes(current_user.id), :id, :name,:include_blank => 'Select a type') %>
  </div>
  </div>
   <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
    <%= f.collection_select(:category_id, Category.user_categories(current_user.id), :id, :name,:include_blank => 'Select a category') %>
  </div>
</div>
   <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :description %>
  </div>
</div>
   <div class="control-group">
    <%= f.label :supplier, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :supplier %>
  </div>
</div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :amount %>
  </div>
</div>
 <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn' %>
<% end %>





