<%= form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if (current_user.id == 1 || current_user.id == 2) %>
   <div class="control-group">
     <%= f.label "User", :class => 'control-label' %>
     <div class="controls">
    <%= f.collection_select(:user_id, User.all, :id, :name,:include_blank => 'Please Select a user') %>
     </div>
   </div>
  <% else %>
    <%= f.hidden_field :user_id, :value => @transaction.user_id %> 
  <% end %>
 
<%= f.hidden_field :sign, :value => params[:sign] %>

     <div class="control-group">
    <%= f.label :tran_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :tran_date %>
    </div>
   </div>
   <div class="control-group">
    <%= f.label "Account", :class => 'control-label' %>
    <div class="controls">
    <%= f.collection_select(:account_id, Account.user_accounts(current_user.id), :id, :name,:include_blank => 'Select an Account') %>
  </div>
  </div>
      <% case params[:type] %>
        <% when "user" %>
          <div class="control-group">
            <%= f.label :category_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:category_id, Category.user_categories(current_user.id), :id, :name,:include_blank => 'Select a category') %>
               </div>
             </div>
              <% when "account" %>
               <%= f.hidden_field :category_id, :value => Category.where(group: "account" ).where(name: "DEPOSIT").first.id %>
<% end %>
   <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :description %>
  </div>
</div>
<% if params[:type] == "user" %>
   <div class="control-group">
    <%= f.label :supplier, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :supplier %>
  </div>
</div>
<% end %>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :amount %>
  </div>
</div>
 <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn' %>
<% end %>





