<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@transaction.user_id).name %>
</p>

<p>
  <strong>Tran date:</strong>
  <%= @transaction.tran_date %>
</p>

<p>
  <strong>Trantype:</strong>
  <%= Trantype.find(@transaction.trantype_id).name %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@transaction.category_id).name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @transaction.supplier %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@transaction.amount, unit: '£') %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
