<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trantype.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @trantype.desc %>
</p>

<%= link_to 'Edit', edit_trantype_path(@trantype) %> |
<%= link_to 'Back', trantypes_path %>
