<%= form_for @report, :url => {:action => 'filter'} do |f| %>

<div>
    <%= f.collection_select(:user, User.all, :id, :name,:include_blank => 'Select a user') %>

    <%= f.collection_select(:trantype, Trantype.all, :id, :name,:include_blank => 'Select a type') %>

    <%= f.collection_select(:category, Category.all, :id, :name,:include_blank => 'Select a category') %>
</div>
<div>
    <%= f.date_select :sdate %>
    <div>
      <%= f.date_select :edate %>
  </div>
</div>
    <%= f.submit %>

<% end %>
