<%= form_for @report, method: :get, :html => { :class => 'form-horizontal' }  do |f| %>

    


  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
     <div>User
       <p><%= f.collection_select(:user_id, User.all, :id, :name,:include_blank => 'Select a user') %></p>
     </div>
     <div>Start Date
       <p><%= f.date_select :sdate %></p>
     </div>
     <div>End Date
       <p><%= f.date_select :edate %></p>
     </div>
      <div class="form-actions">
           <%= f.submit nil, :name => 'first_button', :class => 'btn btn-primary' %>
           <%= f.submit "Reset Filters ", :name => 'second_button',:class => 'btn btn-primary'%> 
                  </div> 

  </div>
      <div class="col-xs-6 col-sm-2 placeholder"><p>Categories</p>
        <%= f.collection_select(:category_id, Category.user_categories(current_user.id), :id, :name,{:include_blank => "Choose Category(s)",:include_hidden => false},{:multiple => true, size: Category.user_categories(current_user.id).count}) %>
      </div>
      <div class="col-xs-6 col-sm-2 placeholder"><p>Transaction Types</p>
        <div>
          <%= f.collection_select(:trantype_id, Trantype.user_trantypes(current_user.id), :id, :name,{:include_blank => "Choose Account(s)",:include_hidden => false},{:multiple => true, size: Trantype.user_trantypes(current_user.id).count}) %>
        </div>
      </div>

         <div class="col-xs-6 col-sm-2 placeholder">
           <div class="control-group">
             <%= f.label :description, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :description %>
              </div>
           </div>

           <div class="control-group">
            <%= f.label :supplier, :class => 'control-label' %>
             <div class="controls">
               <%= f.text_field :supplier %>
             </div>
           </div>
           <div class="control-group">
             <%= f.label :amount, :class => 'control-label' %>
               <div class="controls">
                 <%= f.text_field :amount %>
              </div>
           </div>
         </div>
    </div> 
        
<% end %>
