<%= form_for @report, method: :get, :html => { :class => 'form-horizontal' }  do |f| %>

<div>
    <%= f.collection_select(:user_id, User.all, :id, :name,:include_blank => 'Select a user') %>

    <%= f.collection_select(:trantype_id, Trantype.all, :id, :name,:include_blank => 'Select a type') %>

    <%= f.collection_select(:category_id, Category.all, :id, :name,:include_blank => 'Select a category') %>
</div>
<div>
    <%= f.date_select :sdate %>
    <div>
      <%= f.date_select :edate %>
  </div>
</div>
     <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>

<% end %>
