<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Summary" %></h1>
</div>
<%= link_to "Home", transactions_path %>

<%= form_for @report, :url => {:action => 'summary'}, method: :get do |f| %>
<div>
    <%= f.date_select :sdate %>
    <div>
      <%= f.date_select :edate %>
  </div>
</div>
    <%= f.submit %>
<% end %>

<table class = "table table-striped" >
  <thead>
    <tr>
      <th>Transaction Categories</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <% if cat.name? %>
        <td><%= cat.name %></td>
        <td><%= number_to_currency(@summary[cat.name], unit: '£') %></td>
        <% else %>
        <td> Not Known </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% content_for :total do %>
   <div class = "alert alert-success"><%= "Total spent: #{number_to_currency(ReportsController.total, unit: '£')} "%></div>
   <% end %>