<%- model_class = Report -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Summary" %></h1>
</div>
<%= link_to "Home", transactions_path %>

<%= form_for @report, :url => {:action => 'summary'}, method: :get do |f| %>
	<% if current_user.id == 1 || current_user.id == 2 %>
	<div><%= f.collection_select(:user_id, User.all, :id, :name,:include_blank => 'Please Select a user') %></div>
<% end %>
	<div> <%= f.date_select :sdate %></div>
<div><%= f.date_select :edate %></div>
    <%= f.submit %>
<% end %>

<table class = "table table-striped" >
  <thead>
    <tr>
      <th>Transaction Categories</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @summary.each do |key, val| %>
      <tr>
        <% if val %>
        <td><%= key %></td>
        <td><%= number_to_currency(val, unit: '£') %></td>
        <% else %>
        <td> Not Known </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% render 'partials/total' , :params => {:total_s => @summary['total']} %>
