<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t Account.find(params[:id]).name %> Account - Transactions</h1>
</div>
<% if @authourised %>
<%= @account.id %>
<%= form_for @account, :url => account_statement_path(), :html => { :class => 'form-horizontal' }, method: :post do |f| %>
  <div class="control-group">
    <div class="controls">
	  <%= f.collection_select(:id, current_user.accounts, :id, :name, :include_blank => 'Select an Account') %>
  </div>
</div>
<div class="form-actions">
    <%= f.submit 'Create Statement', :class => 'btn btn-primary' %>   
  </div>
<% end %>	
   
    <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:account_id) %></th>
      <th><%= model_class.human_attribute_name(:tran_date) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= "Credit/Debit" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
     <% Account.find(params[:id]).account_transactions.each do |account_transaction| %>
      <tr>
        <td><%= link_to account_transaction.id, account_transaction_path(account_transaction) %></td>
        <td><%= Account.find(account_transaction.account_id).name %></td>
        <td><%= account_transaction.tran_date %></td>
        <td><%= account_transaction.description %></td>
        <td><%= number_to_currency( account_transaction.amount, unit: '£') %></td>
        <td><%= account_transaction.sign %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_transaction_path(account_transaction), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      account_transaction_path(account_transaction),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h1>Not your Account! </h1>
<% end %>

